---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Acerca de mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, soy Franco, un profesional apasionado por enteder el mundo natural y su funcionamiento 🇦🇷.
      <br />
      <br />
      Algunas de mis habilidades:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Diseño de ensayos experimentales</li>
        <li>Software GIS</li>
        <li>Ciencia de Datos</li>
        <li>Investigacion</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Ademas de la agronomia, me interesa el futbol, el ejercicio y las actividades al aire libre. Un
      hobby que disfruto muchisimo es el cocinar para amigos o familia.
    </p>
  </div>
</Card>
