<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Hecho con <a
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        Astro.js
      </a> y <a
        href="https://tailwindui.com/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        Tailwind CSS
      </a>. El código de está disponible en {' '}
      <a
        href="https://github.com/franpacelli"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        GitHub
      </a>
      .
    </p>
  </div>
</footer>
